<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        Valentin PARSY
      </div>
    </div>

  </br>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="vm.location === '/' ? 'active' : ''"><a ng-href="#">Home</a></li>
        <li ng-class="vm.location === '/resume' ? 'active' : ''"><a ng-href="#/resume">Resume</a></li>
        <li ng-class="vm.location === '/contact' ? 'active' : ''"><a ng-href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
